h1{
    text-align: center;
    color: black;
    font-size:large;
    font-weight: bold;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.ml-auto{
    
    font-weight: 550;
    justify-content: space-around;
    padding: 29;
}


#basic-nav-dropdown{
    font-weight:550;
}

.card{
    transition: all 0.5s;
}

.card:hover{
    transform:scale(1.15);
}

